<style>
    .login-container {
        max-width: 360px;
        margin: auto;
        margin-top: 64px;
    }
</style>


<div class="login-container" style="background-color: #2f3035; padding: 30px;">
    <h1 style="color: #fff; text-align: center; padding-bottom: 15px;"><b>Videogame Store</b></h1>
    <h2 style="color: #fff;">User Login</h2>

    <form action="/api/sessions/login" method="post" style="margin-top: 32px;">
        <div class="input-group" style="width: 300px; margin-bottom: 32px;">
            <span class="input-group-text" id="group1"><i class="fa-solid fa-user"></i></span>
            <input type="text" name="username" class="form-control" placeholder="Username" required="required">
        </div>

        <div class="input-group" style="width: 300px; margin-bottom: 32px;">
            <span class="input-group-text" id="group2"><i class="fa-solid fa-lock"></i></span>
            <input type="password" name="password" class="form-control" placeholder="Password" required="required">
        </div>

        <button type="submit" class="btn btn-success">Ingresar</button>
        <button type="button" class="btn btn-success" onclick="toRegister()">Register</button>
    </form>
</div>

<script>
    function toRegister() {
    window.location.href = "http://localhost:8080/register";
}
</script>