<h1 style="color: #FFF;">User profile</h1>

<h2 style="color: #FFF;">User: {{user.username}}</h2>
<h3 style="color: #FFF;">Admin: {{user.admin}}</h3>

<form action="/api/sessions/logout" method="get">
    <button type="submit" class="btn btn-success">Salir</button>
</form>